@font-face {
    font-family: "Poppins";
    src: url("Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins Bold";
    src: url("Poppins/Poppins-Bold.ttf") format("truetype");
}

.Poppins{
    font-family: "Poppins";
}

h1, h2 {
    font-family: "Poppins Bold";
}

p{
    max-width: 600px;
}

@keyframes login {
    from
    {
            transform: translateX(500px);
    }
   
  to
    {
        transform: translateX(0px);
    } 
}
@keyframes login1 {
    from
    {
            transform: translateX(-500px);
    }
   
  to
    {
        transform: translateX(0px);
    }
}


body{
	background:linear-gradient(rgba(0, 0, 0, 0.788),50%,rgba(0, 0, 0, 0.884));
	width:100%;
	height: 650px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#page{
    width: 1000px; /*taille de la page globale*/
	height: 550px;
	margin: 0 auto;
	margin-top: 2%; 
	border-radius: 10px;
    margin-bottom: 2%;
    display: flex;
    border-radius: 10px;

}
#content1{

    background-color: white;
    width: 500px;
    height: 550px;
    border-radius: 10px 0px 0px 10px;
    animation: login 1s;
    
}

a{
    text-decoration: none;
    color: rgb(43, 43, 43);
}

#content2{
    background:linear-gradient(#fe464d,50%,#fe416b);
    width: 500px;
    height: 550px;
    border-radius: 0px 10px 10px 0px;
    color: white;
    animation: login1 1s;
}

#content2 h1 {
    margin-top: 150px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
   
}
#content2 p {
    
    text-align: center;
}
.signup{
    margin-top: 20px;
    border: 1px solid  white;
    padding: 10px 20px 10px 20px;
    margin-left: 200px;
    border-radius: 20px;
    background-color: #fe435e;
    font-weight:800;
    cursor: pointer;
    color: white;
    transition: 1s;
}
.signup:hover{
    background-color: white;
    color: #fe416b;
}

#content1 h1{
    margin-top: 80px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
#content1 p{
    text-align: center;
}



#content1 input{
    margin-left: 120px;
	padding:10px 50px 10px 50px;
	margin-top:19px;
	border-radius:20px;
	background-color:#27272721;
    border: 0px;
}
#content1 .btnInscr {
    margin-top: 20px;
    padding: 10px 35px 10px 35px;
    margin-left: 190px;
    border-radius: 20px;
    border: 1px solid #fe435e;
    background-color: #fe435e;
    font-weight:800;
    cursor: pointer;
    color: white;
    transition: 1s;
}
#content1 .btnInscr:hover{
    border: 1px solid #fe435e;
    color:#fe435e;
    background-color: #ffff;
}

h4{
    text-align: center;
}
