#payer1{
	width: 550px;
	height: 550px;
	background-color: darkblue;
	/* float: left; */
	margin-left: 100px;
}
#payer2{
	width: 400px;
	height: 400px;
	background-color: snow;
	/* float: right; */
	margin-right: 100px;
}
#payer2 p{
	/* margin-top: 200px; */
	margin-left: 20px;
	margin-right:20px
}
#payer2 button{
	width: 150px;
	height: 45px;
	font-size: 25px;
}
input{
	width: 250px;
	height: 25px;
}
/* #payer1 p{
	margin: 45px;
} */
#payer2 h5{
	color: red;
	/* font-size: 40px; */
	/* margin-top: 90px; */
} 
#b1{
	width: 90px;
	height: 35px;
	font-size: 20px;
	margin-left: 350px;
}
#b2{
	margin-top: 150px;
	margin-right: 15px;
	width: 90px;
	height: 35px;
	font-size: 20px;
	float: right;
}
a{
	text-decoration: none;
}